.panel-1 {
    background: #1e90ff !important;
    color: white !important;
}

.panel-body-1 {
    background: whitesmoke;
}

#contenido {
    margin-left: 20px;
    margin-right: 20px;
}

#contenido p {
    color: darkgray;
}

.well {
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 8px;
}

.panel-2 {
    border: 2px solid whitesmoke;
}

.well-menu {
    cursor: pointer;
}

.loguito {
    float: left;
    margin-left: -3px;
    margin-top: -6px;
    margin-right: 13px;
}

#comparar {
    width: 42px;
    height: 24px;
    font-size: 15px;
}

#regresar {
    width: 42px;
    height: 24px;
    font-size: 15px;
}

#bus {
    width: 42px;
    height: 24px;
    font-size: 15px;
}

.sticky__circle {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #ebeded;
    -webkit-box-shadow: 0 1px 3px #c4c5c5 inset;
    box-shadow: 0 1px 3px #c4c5c5 inset;
    margin: 0 8%;
}