.stylish-input-group .input-group-addon {
    background: whitesmoke !important;
    height: 49px;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.buscador {
    height: 52px;
    background-color: whitesmoke;
    text-align: right;
}

.buscador::placeholder {
    color: #ccc;
    font-weight: bold;
}

.buscador:-webkit-input-placeholder {
    color: blue;
}

.glyphicon-search {
    font-size: 30px;
}


/* WebKit */

.buscador::-moz-placeholder {
    color: blue;
}

.container-top {
    margin-top: 3%;
}

.container-botton {
    margin-bottom: 3%;
}

.well {
    font-size: 14px;
}
#listado_municipios tr {
    cursor: pointer;
}